<style>
    @@keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
    .spin {
        animation: spin 1s linear infinite;

    }
</style>


<div style="display:inline-block">
    <span><span class="spin" style="display:inline-block;">⌛</span>@Caption</span>
</div>


@code {
    [Parameter] public string Caption { get; set; } = "Loading...";
}