<div style=@_style>
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public int BlurPixels { get; set; } = 10;
    [Parameter] public int SaturationPercent { get; set; } = 150;
    [Parameter] public string BorderRadius { get; set; } = "0.75rem";
    [Parameter] public string BoxShadowRgba { get; set; } = "rgba(0,0,0,.3)";
    [Parameter] public string BackgroundRgba { get; set; } = "rgba(255,255,255,.6)";

    string _backdropFilter => $"blur({BlurPixels}) saturate({SaturationPercent}%)";
    string _style => $"box-shadow: 0 1rem 2rem {BoxShadowRgba}; border-radius: {BorderRadius}; -webkit-backdrop-filter: {_backdropFilter}; backdrop-filter: {_backdropFilter}; background-color: {BackgroundRgba};";
}